/* GENERAL */
*{
    margin: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
}
#section{
    margin-bottom: 1.5rem;
}
.header{
    background-color: rgb(131, 114, 114);
}
